<p class="is-family-sans-serif">
  A new estimate was submitted for your project, '<%= @project.project %>'!
</p>

<p class="is-family-sans-serif">
  Take a look
  <%= link_to "here", @project %>!
</p>
