<div class = "project-title has-text-centered">
    <h1 class = "title has-text-success has-text-weight-light">
      <%= @project.project %>
    </h1>
    <p class = "subtitle has-text-success has-text-weight-light">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
  </p>
</div>
