<% if user_signed_in? %>
<div class= "columns is-variable is-0">
  <div>
    <div class="sidebar sidebar-padding-x has-background-dark">
      <div class = "menu-wrapper sidebar-padding-y">
        <aside class="menu">
          <p class="menu-label is-size-4">estimat.ic</p>

          <p class="menu-label is-size-6">Placeholder Name</p>
          <p class="menu-label">My Projects</p>
          <ul class="menu-list">
            <% @projects.each do |project| %>
            <li>
              <% if project.user == current_user %>
                <button class = "button is-dark">
                    <%= link_to project.project, project %>
                </button>
              <% end %>
            </li>
            <% end %>
            <li>
              <button class = "button is-success opacity-1">
                <%= link_to 'New Project', new_project_path %>
              </button>
            </li>
          </ul>
          <p class="menu-label">Other Projects</p>
          <ul class="menu-list">
            <li><a>Project 1</a></li>
            <li><a>Project 2</a></li>
            <li><a>Project 3</a></li>
          </ul>


        </aside>
      </div>
    </div>
  </div>
</div>
<% end %>
