<% if user_signed_in? %>
<div class= "columns is-variable is-0">
  <div>
    <div class="sidebar sidebar-padding-x has-background-dark">
      <div class = "menu-wrapper sidebar-padding-y">
        <aside class="menu">
          <p class="menu-label is-size-4">estimat.ic</p>

          <p class="menu-label is-size-6">Projects</p>
          <p class="menu-label">Owned</p>
          <ul class="menu-list">
            <% @projects.each do |project| %>
            <li class="has-small-margin">
              <% if project.user == current_user %>
                    <%= link_to project.project, project, class: 'button is-dark has-text-grey has-text-left has-box-shadow' %>
              <% end %>
            </li>
            <% end %>
            <li class="has-small-margin">
              <%= link_to 'New Project', new_project_path, class: 'button is-success opacity-1 has-text-white has-text-left has-box-shadow' %>
            </li>
          </ul>
          <p class="menu-label">Member</p>
          <ul class="menu-list">
            <li class="has-small-margin"><button class = "button is-dark has-text-grey has-text-left has-box-shadow">Project 1</button></li>
            <li class="has-small-margin"><button class = "button is-dark has-text-grey has-text-left has-box-shadow">Project 2</button></li>
            <li class="has-small-margin"><button class = "button is-dark has-text-grey has-text-left has-box-shadow">Project 3</button></li>
          </ul>
          <p class="menu-label is-size-6">Teams</p>
          <ul class="menu-list">
            <li class="has-small-margin">
              <button class="button is-success opacity-1 has-text-white has-text-left has-box-shadow">New Team</button>
            </li>
          </ul>
        </aside>
      </div>
    </div>
  </div>
</div>
<% end %>
