html,
body {
  height: 100%;
  width: 100%;
  background-color: hsl(0, 0%, 14%);
}

:root {
  --spacing-none: 0;
  --spacing-extra-small: .25rem;
  --spacing-small: .5rem;
  --spacing-medium: 1rem;
  --spacing-large: 2rem;
  --spacing-extra-large: 4rem;
  --spacing-extra-extra-large: 8rem;
  --spacing0extra-extra-extra-large: 8rem;
}

.has-box-shadow {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
}

.has-small-margin {
  margin-bottom: 5px;
  margin-top: 5px;
}

.has-medium-margin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.login-padding {
  padding-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 200px;
}
