// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project-padding {
  position: absolute;
  left: 300px;
  right: 0;
  top: 80px;
  bottom: 0;

  margin: auto;


  width: 1000px;

  max-width: 80%;
}

.description-padding {
  padding-left: 40px;
  padding-right: 40px;
}

.dropdown-content {
  max-height: 24em;
  overflow: auto;
}
