<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>
    <p class="is-family-sans-serif">
      It's all kittens and pumpkins from here,
      <br>
      the estima.tic team
    </p>
  </body>
</html>
